#main_header {
	width: 100%;
	height: 20px;
	margin-top:10px;

}

#h_login, #h_join, #h_home{
	color:gray;
	text-decoration: none;
	font-size:15px;
	position: relative;
}

#h_home {
	color:black;
	font-weight:bold;
	left: 9%;
}

#h_login {
	left: 79%;
}
#h_join {
	left: 80%;
}
