#mainpage_2 {
	width: 1150px;
	height: 100px;
	margin: 0 auto;
	margin-top: 0px;
}

.main_menu {
	display: flex;
	align-items: center;
	height: 80px;
	border-bottom: 2px solid black;
}

.nav_item, #nav_home {
	font-size: 20px;
	margin-left: 150px;
	color: black;
	text-decoration: none;
	position: relative;
	padding: 6px 12px;
	font-weight: bold;
}
.nav_item:hover {
	color:black;
	
}
.nav_item::after, #nav_home::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 3px;
	background: gray;
	transition: all .5s ease-out;
}

.nav_item:hover::after {
	width: 100%;
}