#main_position {
	margin: 0 auto;
	width: 860px;
	height: 560px;
	margin-top:20px;
}

.tbodyTag {
	
	border-bottom:1px solid gray;
	
}

 .theadTag > td , .tbodyTag > td {
	
	text-align: center;
}

.td_1 {
	width: 12%
}
.td_2 {
	width: 30%;
}
.td_3 {
	width: 12%;
}
.td_4 {
	width: 30%;
}
.td_5 {
	width: 16%;
}
#freeBoardTotalCount {
	margin-bottom: 5px;
	font-weight: bold;
	color: gray;
}